<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        News
    </title>
    <link href="Content/Styles/bootstrap.united.css" rel="stylesheet" />
    <link href="Content/Styles/site.css" rel="stylesheet" />
    <link href="Content/Styles/bpopup.css" rel="stylesheet" />
</head>
<body ng-app="newsAgency">
    <div class="container body-content modal-content">

        <div class="temp">
            <div class="label label-default pull-right">App version: v<span app-version></span></div>
            <ul>
                <li class="inline"><a href="#/home" class="btn btn-primary">Home</a></li>
                <li class="inline"><a href="#/content1" class="btn btn-primary">content1</a></li>
                <li class="inline"><a href="#/content2" class="btn btn-primary">content2</a></li>
            </ul>
            <div ng-view class="well well-lg"></div>
        </div>


        <div class="well well-lg half-width">
            <label>Search by text<input type="text" ng-model="newsBodyFilter" /></label>
            <label>Search by categories<input type="text" ng-model="newsCategoriesFilter" /></label>
        </div>

        <button id="addNews" class="btn btn-success" title="Add news">Add news</button>

        <div ng-controller="NewsController as store">
            <form id="popUp" name="articleForm" ng-controller="ArticleController as articleCtrl"
                  ng-submit="articleForm.$valid && articleCtrl.addArticle(store.news)" class="well well-lg news half-width hide" novalidate>
                <span class="button b-close"><span>X</span></span>
                <h2 class="text-center">Add news</h2>
                <label>Heading</label>
                <input ng-model="articleCtrl.article.heading" type="text" name="body" required />
                <label>Body</label>
                <textarea ng-model="articleCtrl.article.body" name="body" required></textarea>
                <div>
                    <label>Tags</label>
                    <span ng-repeat="tag in articleCtrl.tagsToAttach">
                        <span class="label label-warning tag">{{tag.name}}</span>
                    </span>
                </div>
                <input ng-model="articleCtrl.tag.name" class="inline" />

                <button type="button" ng-click="articleCtrl.attachTag()" class="btn btn-warning ">Add tag</button>
                <button  type="submit" class="btn btn-success">Create</button>      <!--b-close-->
            </form>
            <div class="clear">
                <article class="well well-sm" ng-repeat="news in store.news | filter: {body: newsBodyFilter, tags: newsCategoriesFilter}">
                    <h2 class="text-danger text-center">
                        {{news.heading}}
                    </h2>
                    <p class="text-success">
                        {{news.body}}
                    </p>
                    <p>
                        <span ng-repeat="tag in news.tags" class="tag">
                            {{tag.name}}
                        </span>
                    </p>
                    <span class="text-warning label label-success pull-right ">
                        {{news.date }}
                    </span>
                </article>
            </div>
        </div>












    </div>
    <script src="Content/Scripts/angularLib/angular.js"></script>
    <script src="Content/Scripts/angularLib/angular-route.js"></script>
    <script src="Content/Scripts/angularApp/app.js"></script>
    <script src="Content/Scripts/angularApp/services.js"></script>
    <script src="Content/Scripts/angularApp/controllers.js"></script>
    <script src="Content/Scripts/angularApp/filters.js"></script>
    <script src="Content/Scripts/angularApp/directives.js"></script>

    <script src="Content/Scripts/jquery-1.11.1.js"></script>
    <script src="Content/Scripts/jquery.bpopup.min.js"></script>
    <script src="Content/Scripts/jquery.easing.1.3.js"></script>
    <script src="Content/Scripts/popUp.js"></script>
    <script src="Content/Scripts/popUpRegister.js"></script>
</body>
</html>
