.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

body {
    background: #3b679e;
    background: -moz-linear-gradient(45deg, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%) background: -o-linear-gradient(45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );
}

input,
select {
    max-width: 280px;
}

input {
    min-width: 400px;
}

textarea {
    min-width: 600px;
    max-width: 600px;
    min-height: 300px;
    max-height: 350px;
}

article {
    width: 31%;
    float: left;
    height: 360px;
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 5px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

    article:hover {
        border: 3px solid cornflowerblue;
    }

ul li {
    list-style: none;
}

.clear {
    overflow: hidden;
}

.inline {
    display: inline;
}

.half-width {
    width: 50%;
}

.dynamic-view {
    background-color: #ffd700;
    background-color: rgba(255, 215, 0, 0.39);
}

.tag {
    border: 2px solid #b6ff00;
    border: 2px solid rgba(0, 148, 255, 0.41);
}

.news {
    background-color: #adff2f;
    background-color: rgba(173, 255, 47, 0.38);
}

.date {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ng-hide-add {
    opacity: 1;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

    .ng-hide-add.ng-hide-add-active {
        opacity: 0;
    }

.ng-hide-remove {
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
}

    .ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
    }
