<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        News
    </title>
    <link href="Content/Styles/bootstrap.united.css" rel="stylesheet" />
    <link href="Content/Styles/site.css" rel="stylesheet" />
    <link href="Content/Styles/bpopup.css" rel="stylesheet" />
    <link href="Content/Styles/font-awesome.css" rel="stylesheet" />
</head>
<body ng-app="app">
    <div class="container body-content modal-content">

        <div class="dynamic-view">
            <div class="label label-default pull-right">App version: v<span app-version></span></div>
            <ul>
                <li ui-sref="home" class="btn btn-primary fa fa-home fa-2x"></li>
                <li ui-sref="weather" class="btn btn-primary fa fa-folder-open-o fa-2x"></li>
                <li ui-sref="currencies" class="btn btn-primary fa fa-folder-open-o fa-2x"></li>
            </ul>
            <div ui-view class="well well-lg"></div>
        </div>


        <div ng-controller="NewsController as newsCtrl">
            <div class="clear">
                <ul>
                    <li>
                        <button ng-click="newsCtrl.clearForm()" class="changeNews btn btn-success fa fa-plus-square fa-2x" title="Add news"></button>
                    </li>
                    <li>
                        <button ng-click="newsCtrl.toogleFilterVisibility()"
                                ng-class="newsCtrl.isFilterVisible ? 'btn-danger': 'btn-success'" class="btn fa fa-filter fa-2x" title="Show filter"></button>
                    </li>  
                </ul>
                <span class="pull-right">
                    <label class="label label-default">items per page:</label>
                    <input id="page-number" type="number" min="1" max="100" ng-model="newsCtrl.pageSize">
                </span>
                <div class="well well-lg half-width" ng-show="newsCtrl.isFilterVisible">
                    <label>Search by text</label>
                    <input type="text" ng-model="newsBodyFilter" />
                    <label>Search by category<input type="text" ng-model="newsCategoriesFilter" /></label>
                </div>
            </div>
            <form id="popUp" name="articleForm"
                  custom-submit="articleForm.$valid && newsCtrl.saveNews()" class="well well-lg news half-width hide clear" novalidate>
                <span class="button b-close"><span>X</span></span>
                <h2 class="text-center">Add/update news</h2>
                <input type="hidden" ng-model="newsCtrl.newsInput.id" />
                <label>Heading</label>
                <textarea ng-model="newsCtrl.newsInput.heading" name="body" required ng-maxlength=500 class="input"> </textarea>
                <label>Body</label>
                <textarea ng-model="newsCtrl.newsInput.body" name="body" required ng-maxlength=10000></textarea>
                <div>
                    <label>Tags</label>
                    <span ng-repeat="tag in newsCtrl.newsInput.tags">
                        <span class="label label-warning tag">{{tag.name}}</span>
                    </span>
                    <span ng-repeat="tag in newsCtrl.tagStore">
                        <span class="label label-warning tag">{{tag.name}}</span>
                    </span>
                </div>
                <input ng-model="newsCtrl.tagInput.name" class="inline" />
                <button type="button" ng-click="newsCtrl.addTag()" class="btn btn-warning fa fa-plus" title="Add tag"></button>
                <button type="submit" class="btn btn-success fa fa-check-square pull-right" title="Create"></button>
            </form>

            <div class="clear ">
                <article class="well well-sm" dir-paginate="news in newsCtrl.newsStore | filter: {body: newsBodyFilter, tags: newsCategoriesFilter} | itemsPerPage: newsCtrl.pageSize" current-page="newsCtrl.currentPage">
                    <h3 class="text-danger text-center">
                        {{news.heading}}
                    </h3>
                    <button ng-click="newsCtrl.setNewsVisable($index)"
                            ng-class="newsCtrl.visableNewsNumber === $index ? 'btn-danger' : 'btn-success'" class="btn fa fa-level-down" title="Show news"></button>
                    <p class="text-info news-content" ng-show="newsCtrl.visableNewsNumber == $index">
                        {{news.body}}
                    </p>
                    <p>
                        <span ng-repeat="tag in news.tags" class="tag">
                            {{tag.name}}
                        </span>
                    </p>
                    <span class="text-warning label label-success bottom-right">
                        {{news.date }}
                    </span>
                    <div class="upper-right">
                        <button type="button" ng-click="newsCtrl.edit(news.id)" class="btn btn-warning changeNews fa fa-edit" title="edit"></button>
                        <button ng-click="newsCtrl.delete(news.id)" class="btn btn-danger fa fa-trash-o" title="delete"></button>
                    </div>
                </article>
                <div>
                    <div class="text-center">
                        <dir-pagination-controls boundary-links="true" template-url="partials/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <script src="Content/Scripts/angularLib/angular.js"></script>
    <script src="Content/Scripts/angularLib/angular-animate.js"></script>
    <script src="Content/Scripts/angularLib/angular-ui-router.js"></script>


    <script src="Content/Scripts/angularApp/app.js"></script>
    <script src="Content/Scripts/angularApp/news/news.js"></script>
    <script src="Content/Scripts/angularApp/page-controls/pageControls.js"></script>

    <script src="Content/Scripts/angularApp/Submit-Directive.js"></script>
    <script src="Content/Scripts/angularApp/guidGenerator.js"></script>

    <script src="Content/Scripts/angularApp/news/Tag-Service.js"></script>
    <script src="Content/Scripts/angularApp/news/Version-Service.js"></script>
    <script src="Content/Scripts/angularApp/news/News-Service.js"></script>
    <script src="Content/Scripts/angularApp/news/Interpolate-Filter.js"></script>
    <script src="Content/Scripts/angularApp/news/AppVersion-Directive.js"></script>
    <script src="Content/Scripts/angularApp/news/News-Controller.js"></script>

    <script src="Content/Scripts/angularApp/page-controls/ItemsPerPage-Filter.js"></script>
    <script src="Content/Scripts/angularApp/page-controls/Paginate-Directive.js"></script>
    <script src="Content/Scripts/angularApp/page-controls/PaginationControls-Directive.js"></script>
    <script src="Content/Scripts/angularApp/page-controls/Pagination-Service.js"></script>

    <script src="Content/Scripts/jquery-1.11.1.js"></script>
    <script src="Content/Scripts/jquery.bpopup.min.js"></script>
    <script src="Content/Scripts/jquery.easing.1.3.js"></script>
    <script src="Content/Scripts/popUp.js"></script>
    <script src="Content/Scripts/popUpRegister.js"></script>
</body>
</html>