<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        News
    </title>
    <link href="Content/Styles/bootstrap.united.css" rel="stylesheet" />
    <link href="Content/Styles/site.css" rel="stylesheet" />
    <link href="Content/Styles/bpopup.css" rel="stylesheet" />
    <link href="Content/Styles/font-awesome.css" rel="stylesheet" />
</head>
<body ng-app="app">
    <div class="container body-content modal-content">

        <div class="dynamic-view">
            <div class="label label-default pull-right">App version: v<span app-version></span></div>
            <ul>
                <li ui-sref="home" class="btn btn-primary fa fa-home fa-2x"></li>
                <li ui-sref="state1" class="btn btn-primary fa fa-folder-open-o fa-2x"></li>
                <li ui-sref="state2" class="btn btn-primary fa fa-folder-open-o fa-2x"></li>
            </ul>
            <div ui-view class="well well-lg"></div>
        </div>


        <div ng-controller="NewsController as newsCtrl">
            <button class="addNews btn btn-success fa fa-plus-square fa-2x" title="Add news"></button>
            <button ng-click="newsCtrl.toogleFilterVisibility()"
                    ng-class="newsCtrl.isFilterVisible ? 'btn-danger': 'btn-success'" class="btn fa fa-filter fa-2x" title="Show filter"></button>
            <div class="well well-lg half-width" ng-show="newsCtrl.isFilterVisible">
                <label>Search by text<input type="text" ng-model="newsBodyFilter" /></label>
                <label>Search by category<input type="text" ng-model="newsCategoriesFilter" /></label>
            </div>

            <form id="popUp" name="articleForm"
                  ng-submit="articleForm.$valid && newsCtrl.saveNews()" class="well well-lg news half-width hide" novalidate>
                <span class="button b-close"><span>X</span></span>
                <h2 class="text-center">Add news</h2>
                <input type="hidden" ng-model="newsCtrl.newsInput.id" />
                <label>Heading</label>
                <input ng-model="newsCtrl.newsInput.heading" type="text" name="body" required />
                <label>Body</label>
                <textarea ng-model="newsCtrl.newsInput.body" name="body" required></textarea>
                <div>
                    <label>Tags</label>
                    <span ng-repeat="tag in newsCtrl.tagStore">
                        <span class="label label-warning tag">{{tag.name}}</span>
                    </span>
                </div>
                <input ng-model="newsCtrl.tagInput.name" class="inline" />
                <button type="button" ng-click="newsCtrl.addTag()" class="btn btn-warning ">Add tag</button>
                <button type="submit" class="btn btn-success">Create</button>      <!--b-close-->
            </form>

                <div class="clear">
                    <article class="well well-sm" ng-repeat="news in newsCtrl.newsStore | filter: {body: newsBodyFilter, tags: newsCategoriesFilter}">
                        <h3 class="text-danger text-center">
                            {{news.heading}}
                        </h3>
                        <button ng-click="newsCtrl.setNewsVisable($index)"
                                ng-class="newsCtrl.visableNewsNumber === $index ? 'btn-danger' : 'btn-success'" class="fa fa-arrow-right" title="Show news"></button>
                        <p class="text-success" ng-show="newsCtrl.visableNewsNumber == $index">
                            {{news.body}}
                        </p>
                        <p>
                            <span ng-repeat="tag in news.tags" class="tag">
                                {{tag.name}}
                            </span>
                        </p>
                        <span class="text-warning label label-success date">
                            {{news.date }}
                        </span>    
                        <button type="button" ng-click="newsCtrl.edit(news.id)" class="addNews pull-right">edit</button> 
                        <button ng-click="newsCtrl.delete(news.id)" class="pull-right">delete</button>
                    </article>
                </div>
        </div>












    </div>
    <script src="Content/Scripts/angularLib/angular.js"></script>
    <script src="Content/Scripts/angularLib/angular-animate.js"></script>
    <script src="Content/Scripts/angularLib/angular-ui-router.js"></script>
    <script src="Content/Scripts/angularLib/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="Content/Scripts/angularLib/angular-ui/ui-bootstrap.js"></script> 

    <script src="Content/Scripts/angularApp/news/news.js"></script>  
    <script src="Content/Scripts/angularApp/app.js"></script>
  
    
    <script src="Content/Scripts/angularApp/news/Tag-Service.js"></script>    
    <script src="Content/Scripts/angularApp/news/Version-Service.js"></script>
    <script src="Content/Scripts/angularApp/news/News-Service.js"></script> 
    <script src="Content/Scripts/angularApp/news/Interpolate-Filter.js"></script>   
    <script src="Content/Scripts/angularApp/news/AppVersion-Directive.js"></script>
    <script src="Content/Scripts/angularApp/news/News-Controller.js"></script> 


    <script src="Content/Scripts/jquery-1.11.1.js"></script>
    <script src="Content/Scripts/jquery.bpopup.min.js"></script>
    <script src="Content/Scripts/jquery.easing.1.3.js"></script>
    <script src="Content/Scripts/popUp.js"></script>
    <script src="Content/Scripts/popUpRegister.js"></script>
</body>
</html>