.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

body {
    background: #3b679e;
    background: -moz-linear-gradient(45deg, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%) background: -o-linear-gradient(45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(45deg, #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );
    font-weight: 600;
}

input,
select {
    width: 280px;
}

textarea {
    min-width: 600px;
    max-width: 600px;
    min-height: 70px;
    max-height: 300px;
}

article {
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 10%;
    position: relative;
}

    article:hover {
        border: 2px solid #3b679e;
        border: 2px solid rgba(59, 103, 158, 0.84);
    }

ul {
    display: inline-block;
}

    ul li {
        list-style: none;
        display: inline-block;
    }

.clear {
    overflow: hidden;
}

.inline {
    display: inline;
}

.half-width {
    width: 50%;
}

.dynamic-view {
    background-color: #ffd700;
    background-color: rgba(255, 215, 0, 0.04);
}

.tag {
    border: 2px solid #b6ff00;
    border: 2px solid rgba(0, 148, 255, 0.41);
    background-color: burlywood;
    border-radius: 20%;
    margin: 2px;
    padding: 2px;
}

.news {
    background-color: #adff2f;
    background-color: rgba(173, 255, 47, 0.38);
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.upper-right {
    position: absolute;
    top: 0;
    right: 0;
}

.ng-hide-add {
    opacity: 1;
    -moz-transition: 0.7s linear all;
    -o-transition: 0.7s linear all;
    -webkit-transition: 0.7s linear all;
    transition: 0.7s linear all;
}

    .ng-hide-add.ng-hide-add-active {
        opacity: 0;
    }

.ng-hide-remove {
    -moz-transition: 0.7s linear all;
    -o-transition: 0.7s linear all;
    -webkit-transition: 0.7s linear all;
    transition: 0.7s linear all;
    opacity: 0;
}

    .ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
    }

.changeNews {
}

#page-number {
    width: 80px;
}

.news-content {
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
    border-left: 4px solid indianred;
    border-right: 4px solid indianred;
}

textarea.input {
    height: 50px !important;
}
